body {
    display: flex;
    gap: 30px;
}

.move-me {
    border: 0.25rem solid black;
    font: 1.5rem Georga pink;
    width: 20rem;
    display: flex;
    justify-content: center;
    position: relative;
    animation: mymove 5s infinite;
}

.move-me-2 {
    border: 0.25rem solid black;
    font: 1.5rem Georgia pink;
    width: 20rem;
    display: flex;
    justify-content: center;
    position: relative;
    animation: mymove2 5s infinite;
}

.crazy-colors {
    border: 0.25rem solid black;
    font: 1.5rem Georgia pink;
    width: 20rem;
    display: flex;
    justify-content: center;
    position: relative;
    animation: colors 1s infinite;
}

.fonts p {
    position: relative;
    font-size: 30px;
}

.fonts-animation p {
    animation: fonts 3s infinite;
}

@keyframes mymove {
    0%   {top: 0px; background-color: red;}
    20%  {top: 200px; background-color: orange;}
    35%  {top: 400px; background-color: yellow;}
    50%  {top: 600px; background-color: green;}
    65%  {top: 400px; background-color: blue;}
    80%  {top: 200px; background-color: indigo;}
    100% {top: 0px; background-color: violet;}
}

@keyframes mymove2 {
    from {top: 0px; background-color: thistle;}
    to {top: 500px; background-color: indigo;}
}

@keyframes colors {
    0%  {background-color: pink;}
    10%  {background-color: greenyellow;}
    20% {background-color: indigo;}
    30% {background-color: blue;}
    40% {background-color: crimson;}
    50% {background-color: black;}
    60% {background-color: gold;}
    70% {background-color: palevioletred;}
    80% {background-color: turquoise;}
    90% {background-color: magenta;}
    100%  {background-color: midnightblue;}
}

@keyframes fonts {
    0% {font-family: Verdana;}
    25% {font-family: monospace;}
    50% {font-family: Arial;}
    75% {font-family: 'Franklin Goth Medium';}
    100% {font-family: 'Gill Sans';}
}